<?xml version="1.0" encoding="UTF-8"?>
<!-- status表示log4j2本身的日志信息打印级别，和下面的level，不是一个概念 -->
<!--TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->
<Configuration status="OFF" monitorInterval="30">
	<Properties>
		<!-- 日志格式 -->
		<!-- <Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} -&#45;&#45; [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property> -->
		<!-- 日志保存的基础路径 -->
		<Property name="LOG_FILE_PATH">/home/wangchun/running-jar/mzitu-spider/logs
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<!-- <PatternLayout pattern="${LOG_PATTERN}" /> -->
		</Console>
		<!-- 日志文件名和备份的文件名 -->
		<RollingFile name="FileAppender"
			fileName="${LOG_FILE_PATH}/mzitu-spider.log"
			filePattern="${LOG_FILE_PATH}/mzitu-spider-%d{yyyy-MM-dd HH}-%i.log">
			<!-- <PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout> -->
			<Filters>
				<!-- 此level设置的日志级别，是过滤日志文件中打印出的日志信息，和Root的level有所区别 -->
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
				<!-- 日志备份间隔，间隔单位由备份文件名的时间格式最小单位决定 -->
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<!-- 最多文件备份数量 -->
			<DefaultRolloverStrategy max="120" />

		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- All < Trace < Debug < Info < Warn < Error < Fatal < OFF. -->
		<!-- 程序会打印高于或等于所设置级别的日志，设置的日志等级越高，打印出来的日志就越少。 -->
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>